.Profile{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    color: black;
}
 .Photo{
     width: 350px;
     height: 350px;
     border-radius: 100%;
     border: 1px solid black;
     text-align: center;
     padding-top: 150px;
     margin-right: 50px;
     background-color: rgb(228, 228, 228);
     margin-bottom: 30px;
 }

 .Info{
     display: flex;
     flex-direction: column;
 }

 @media only screen and (max-width: 600px) {
    .Photo{
      margin-right: 0px;
    }
  }
 


